

body{
    color: white;
    font-family: "Hack", monospace;
    font-size: 16px;
    background-color: #202124;
}

.container{
    display: flex;
    gap: 30px;
}

.container2{
    display: grid;
    gap:4px;
}

.textContainer{
    position: relative;
    display: inline-block;
}

.align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}


.imagem{
    width: 48px;
    height: 48px;
    background-image: url('imagens/f.png');
}

.input{
    width: 300px;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: 1px solid #5F6368;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #535353;
    resize: none;
}

.key-input{
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: 1px solid #5F6368;
    border-radius: 4px;
    box-sizing: border-box;

    background-color: #535353;
}

.input-copy{
    position: absolute;
    top: -25px;
    right: 5px;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url('imagens/cpy.png');
    background-size: cover;  
}

.botao { 
    width: 280px;
    height: 16px;
    padding: 10px;
    background-color: #535353;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 1;

}

.botao:hover{
    background-color: #3C3C3C;
}

.botao:active{
    background-color: #2B2B2B;
}