name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: 1
      uses: actions/checkout@v4

    - name: nodejs
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: dependencias
      run: npm install
      
    - name: testes
      run: npm test
